.am-accordion {
    position: relative;
    border-top: none;
}
html:not([data-scale]) .am-accordion:before {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    transform-origin: 50% 50%;
    transform: scaleY(.33);
}
.am-accordion .am-accordion-item .am-accordion-header {
    position: relative;
    color: #000;
    font-size: 17px;
    height: 44px;
    line-height: 44px;
    background-color: #fff;
    box-sizing: content-box;
    padding-left: 15px;
    padding-right: 30px;
    /* border-bottom: 1px solid #ddd; */
    border-bottom: none;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.am-accordion .am-accordion-item .am-accordion-header i {
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg width='16' height='26' xmlns='http://www.w3.org/2000/svg'><path d='M2 0L0 2l11.5 11L0 24l2 2 14-13z' fill='%23C7C7CC' fill-rule='evenodd'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: rotate(90deg);
    transition: transform .2s ease;
}
.am-accordion .am-accordion-item .am-accordion-header[aria-expanded~=true] i {
    transform: rotate(270deg);
}
html:not([data-scale]) .am-accordion .am-accordion-item .am-accordion-header:after {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    transform-origin: 50% 100%;
    transform: scaleY(.33);
}
.am-accordion .am-accordion-item .am-accordion-content {
    overflow: hidden;
    background: #fff;
}
.am-accordion .am-accordion-item .am-accordion-content.am-accordion-content-inactive {
    display: none;
}
.am-accordion-anim-active {
    transition: all .2s ease-out
}
.am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box {
    font-size: 15px;
    color: #333;
    position: relative;
    border-bottom: none;
}
html:not([data-scale]) .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box:after {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    transform-origin: 50% 100%;
    transform: scaleY(.33);
}
.am-list-body {
    position: relative;
    background-color: #fff;
    border-top: 0;
    border-bottom: none;
}
/* @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) { */
    html:not([data-scale]) .am-list-body:after {
        content: "";
        position: absolute;
        background-color: #ddd;
        display: block;
        z-index: 1;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1PX;
        transform-origin: 50% 100%;
        transform: scaleY(.33);
    }
/* } */
/* @media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
    html:not([data-scale]) .am-list-body:after {
        transform: scaleY(.33);
    }
} */

.am-list-item {
    position: relative;
    display: flex;
    padding-left: 15px;
    min-height: 44px;
    background-color: #fff;
    vertical-align: middle;
    overflow: hidden;
    transition: background-color .2s;
    align-items: center;
}
.am-list-item.am-list-item-active {
    background-color:#ddd
}
.am-list-item.am-list-item-middle .am-list-line {
    align-items: center;
}
.am-list-item .am-list-line {
    position: relative;
    display: flex;
    flex: 1 1;
    align-self: stretch;
    padding-right: 15px;
    overflow: hidden;
}
html:not([data-scale]) .am-list-body div:not(:last-child) .am-list-line:after {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    transform-origin: 50% 100%;
    transform: scaleY(.33);
}
.am-list-item .am-input-label.am-input-label-5 {
    width: 85px;
}
.am-list-item .am-input-label {
    color: #000;
    font-size: 17px;
    margin-left: 0;
    margin-right: 5px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px 0;
}
.am-list-item .am-input-control {
    font-size: 17px;
    flex: 1 1;
}
.am-list-item .am-input-control input {
    color: #000;
    font-size: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 2px 0;
    border: 0;
    background-color: transparent !important;
    line-height: 1;
    box-sizing: border-box;
}
.am-list-item .am-input-control input::-moz-placeholder{
    opacity: 1
}
.am-list-item .am-input-control input::-webkit-input-placeholder{
    color: #bfbfbf
}
.am-list-item .am-input-control input::-ms-input-placeholder{
    color: #bfbfbf
}
.am-list-item .am-input-control input::placeholder{
    color: #bfbfbf
}
.am-list-item .am-list-line .am-list-content, .am-list-item .am-list-line .am-list-extra {
    line-height: 1.5;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 7px;
    padding-bottom: 7px;
}
.am-list-item .am-list-line .am-list-content {
    flex: 1 1;
    color: #000;
    font-size: 17px;
    text-align: left;
}
.am-list-item .am-list-line .am-list-extra {
    flex-basis: 36%;
    color: #888;
    font-size: 16px;
    text-align: right;
}
.am-list-item .am-list-line .am-list-arrow-horizontal {
    visibility: visible !important;
}
.am-list-item .am-list-line .am-list-arrow {
    display: block;
    width: 15px;
    height: 15px;
    margin-left: 8px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg width='16' height='26' xmlns='http://www.w3.org/2000/svg'><path d='M2 0L0 2l11.5 11L0 24l2 2 14-13z' fill='%23C7C7CC' fill-rule='evenodd'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    visibility: hidden;
}
.am-list-item .am-list-ripple {
    position: absolute;
    background: transparent;
    display: inline-block;
    overflow: hidden;
    will-change: box-shadow,transform;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    transform: scale(0);
}
.am-accordion .am-accordion-content .am-list-body .button .am-list-content {
    text-align: center;
    padding: 0;
}
.am-accordion .am-accordion-content .am-list-body .am-list-content .am-button-ghost {
    margin-right: 100px;
}
.am-accordion .am-accordion-content .am-list-body .am-list-content a {
    margin-top: 6px;
}
html:not([data-scale]) .am-button {
    position: relative;
    border: none;
}
.am-button-small {
    font-size: 13px !important;
    height: 30px !important;
    line-height: 30px !important;
    padding: 0 15px !important;
}
.am-button-inline {
    display: inline-block !important;
    padding: 0 15px;
}
.am-button-ghost {
    color: #108ee9 !important;
    background-color: transparent !important;
    border: 1px solid #108ee9 !important;
    border-radius: 5px !important;
}
.am-button-primary {
    color: #fff !important;
    background-color: #108ee9 !important;
    border: 1px solid #108ee9 !important;
    border-radius: 5px !important;
}
.am-button {
    display: block;
    outline: 0 none;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    font-size: 18px;
    height: 47px;
    line-height: 47px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
[role=button],a,area,button,input:not([type=range]),label,select,summary,textarea{
    -ms-touch-action: manipulation;
    touch-action: manipulation
}
a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}
a:active, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
a:hover {
    color: #40a9ff !important;
}
:focus{
    outline:none
}

.am-picker-popup-mask {
    background-color: rgba(0,0,0,.4);
    height: 100%;
}
.am-picker-popup-mask-hidden {
    display:none
}
.am-picker-popup .am-picker-popup-close {
    display:none
}
.am-picker-popup-mask, .am-picker-popup-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transform: translateZ(1px);
}
.am-picker-popup-wrap {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.am-picker-popup {
    left:0;
    bottom:0;
    position:fixed;
    width:100%;
    background-color:#fff;
    padding-bottom:env(safe-area-inset-bottom)
}
.am-picker-popup-header {
    background-image: linear-gradient(180deg,#e7e7e7,#e7e7e7,transparent,transparent);
    background-position: bottom;
    background-size: 100% 1PX;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-bottom: none;
}
html:not([data-scale]) .am-picker-popup-header:after {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    transform-origin: 50% 100%;
    transform: scaleY(.33);
}
.am-picker-popup-item {
    color: #108ee9;
    font-size: 17px;
    padding: 9px 15px;
    height: 42px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.am-picker-popup-item-active{
    background-color:#ddd
}
.am-picker-popup-title {
    -ms-flex: 1 1;
    flex: 1 1;
    text-align: center;
    color: #000;
}
.am-picker-popup-header .am-picker-popup-header-right {
    text-align: right;
}
.am-picker {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.am-picker-col {
    -ms-flex: 1 1;
    flex: 1 1;
}
.am-picker-col {
    display: block;
    position: relative;
    height: 238px;
    overflow: hidden;
    width: 100%;
}
.am-picker-col-indicator, .am-picker-col-mask {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;
}
.am-picker-col-mask {
    top: 0;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6)),linear-gradient(0deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6));
    background-position: top,bottom;
    background-size: 100% 102px;
    background-repeat: no-repeat;
}
.am-picker-col-indicator {
    box-sizing: border-box;
    height: 34px;
    top: 102px;
    border-top: none;
    border-bottom: none;
}
html:not([data-scale]) .am-picker-col-indicator:before {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    transform-origin: 50% 50%;
    transform: scaleY(.33);
}
html:not([data-scale]) .am-picker-col-indicator:after {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    transform-origin: 50% 100%;
    transform: scaleY(.33);
}
.am-picker-col-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 102px 0;
}
.am-picker-col-item {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-align: center;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.am-picker-col-item-selected {
    font-size: 17px;
}